language: python

python:
  - "3.6"

services:
  - postgresql

env:
  - DJANGO=2.2.1

before_install:
  - export DJANGO_SETTINGS_MODULE=repairhub.settings
  - export PYTHONPATH="home/travis/build/masakhwe/repairhub"
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet

before_script:
  - psql -c "CREATE DATABASE repairhub;" -U postgres
  - psql -c "CREATE USER MANU PASSWORD 'manu2741';" -U postgres
  - psql -c "ALTER USER MANU CREATEDB;" -U postgres
  - psql -c "GRANT ALL PRIVILEGES on DATABASE repairhub to MANU;" -U postgres

script:
   - python manage.py migrate
   - pytest -v

after_success:
  - coveralls